server {
    listen 80;
    listen [::]:80;
    server_name appmottus.raevsi.cl;

    root /var/www/html/appmottus.raevsi.cl;
    index index.html;

    # Backend FastAPI Proxy inverso (Puerto interno 8006)
    location /api {
        proxy_pass http://127.0.0.1:8006;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Frontend Single Page Application (SPA)
    location / {
        try_files $uri $uri/ /index.html;
    }
}
